.carousel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .carousel-container {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    cursor: default;
  }
  
  .carousel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .carousel-image-wrapper {
    width: 600px;
    height: 450px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .carousel-image-wrapper img {
    height: 100%;
    object-fit: contain;
  }
  
  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .carousel-nav.prev {
    left: 20px;
  }
  
  .carousel-nav.next {
    right: 20px;
  }
  
  .carousel-counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
  }